<script>
  import {age} from '@/lib/age';
</script>

<svelte:head>
	<title>Kye Shi</title>
</svelte:head>

Hi there---welcome to my website!  I'm Kye, a {age}-year old Asian-American
college student who loves math, programming, teaching, drumming, and eating.

## [Recent ramblings](/ramblings)
