---
import "@fontsource-variable/ysabeau-office";
import "@fontsource-variable/ysabeau-office/wght-italic.css";
import "@fontsource-variable/ysabeau-infant";
import "katex/dist/katex.min.css";

import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style>
      body {
        margin: 0;
      }
    </style>
  </body>
</html>
